@charset "UTF-8";

    body{
        margin: 0;
        overflow-x: hidden; /*横移動禁止*/
    }
    a:visited{
        color: #ffffff;
    }
    .backimage{
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        width: 100%;
        position: relative;
    }
    #image1{
        background-image: url("coffee20160715365204_TP_V.jpg")
    }
    #image2{
        background-image: url("Photoelly039_TP_V.jpg")
    }
    .backimage::before{
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        position: absolute;
    }
    .logo{
        text-align: center;
        font-family: Pristina; /*フォント指定*/
        line-height: 0; /*行間の指定*/
        color: #ffffff;
        padding-bottom: 200px;
        position: absolute;
    }
    #mainLogo{
        font-size: 150px;
    }
    #subLogo{
        font-size: 70px;
    }
    .contents{
        text-align: center;
        padding-top: 100px;
        font-size: large;
        position: absolute;
        color: #ffffff;
        font-size: larger;
    }
    #twitterLink{
        color: #ffffff;
        font-size: 50px;
    }