@charset "UTF-8";

    html{
        height: 100%;
        max-height: 100%;
    }
    body{
        margin: 0;
        height: 100%;
        overflow-x: hidden; /*横移動禁止*/
    }
    a{
        text-decoration: none; /*下線の消去*/
        color: #fff
    }
    .wapper{
        overflow-x: hidden;
        width: auto;
        height: 100%;
    }
    .backimage{
        height: 100%;
        padding: 0;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    #image1{
        background-image: url("coffee20160715365204_TP_V.jpg");
        background-size: 100%;
        position: relative;
    }
    #image1::before{
        /*マスク*/
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
        position: absolute;
    }
    #image2{
        background-image: url("CK20160626095213_TP_V.jpg");
        background-size: 100%;
    }
    #image3{
        background-image: url("Photoelly039_TP_V .jpg");
        background-size: 100%;
        position: relative;
    }
    #image3::before{
        /*マスク*/
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
        position: absolute;
    }
    #image4{
        background-image: url("CK20160626095213_TP_V.jpg");
        background-size: 100%;
        position: relative;
    } 
    .logo{
        text-align: center;
        font-family: Pristina; /*フォント指定*/
        line-height: 200%; /*行間の指定*/
        color: #ffffff;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 20%;
        position: absolute;
    }
    .mainLogo{
        font-size: 600%;
    }
    .subLogo{
        font-size: 400%;
    }
    .contents{
        line-height: 200%; /*上下の行間*/
        color: #fff;
        font-size: 200%;
        padding: 10%;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    .twitterLink{
        color: #fff;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 20%;
        text-align: center;
        font-size: 500%;
        font-family: Pristina;
        position: absolute;
        z-index: 1;
    }