@charset "UTF-8";

    body{
        margin: 0;
        overflow-x: hidden; /*横移動禁止*/
        height: fit-content;
    }
    a{
        text-decoration: none;
        color: #ffffff;
    }
    .backimage{
        display: block;
        align-items: center;
        justify-content: center;
        top: 0;
        position: relative;
    }
    #image1{
        background-image: url("coffee20160715365204_TP_V.jpg");
    }
    #image2{
        background-image: url("Photoelly039_TP_V.jpg");
    }
    /*
    .backimage::before{
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.2);
        position: absolute;
    }
    */
    .logo{
        text-align: center;
        font-family: Pristina; /*フォント指定*/
        line-height: 0; /*行間の指定*/
        color: #ffffff;
        position: absolute;
    }
    #mainLogo{
        font-size: xx-large;
    }
    #subLogo{
        font-size: large;
    }
    .contents{
        text-align: center;
        position: absolute;
        color: #ffffff;
        font-size: 30%;
        width: 100%;
    }
    #twitterLink{
        color: #ffffff;
        font-size: small;
    }